<template>
  <v-calendar is-expanded show-weeknumbers="right" :attributes="attributes" />
</template>

<script lang="ts">
import store from "@/store";
export default {
  data() {
    const todos = [
      {
        description: "Take Noah to basketball practice.",
        isComplete: false,
        dates: {
          start: new Date(2022, 9, 1),
          end: new Date(2022, 9, 5),
        },
        color: "red",
      },
    ];
    return {
      attributes: [
        // This is a single attribute
        {
          // An optional key can be used for retrieving this attribute later,
          // and will most likely be derived from your data object
          //key: Any,
          // Attribute type definitions
          highlight: true, // Boolean, String, Object
          content: "red", // Boolean, String, Object
          // popover: { ... }, // Only objects allowed
          // Your custom data object for later access, if needed
          // customData: { ... },
          // We also need some dates to know where to display the attribute
          // We use a single date here, but it could also be an array of dates,
          //  a date range or a complex date pattern.
          dates: {
            start: new Date(2022, 9, 1),
            end: new Date(2022, 9, 5),
          },
          popover: {
            label: "planter les choux",
            // You can optionally provide dates to exclude
            excludeDates: null,
            // Think of `order` like `z-index`
            order: 0,
          },
        },
      ],
    };
  },
};
</script>

<style></style>
