<template>
  <div class="row">
    <div class="col">
      <WeatherCardView :dataWeatherOne="dataWeather[0]"></WeatherCardView>
    </div>
    <div class="col">
      <WeatherCardView :dataWeatherOne="dataWeather[1]"></WeatherCardView>
    </div>
  </div>
</template>

<script>
import WeatherCardView from "./WeatherCardView.vue";
export default {
  components: { WeatherCardView },
  props: ["dataWeather"],
};
</script>
