<template>
  <div class="container py-5">
    <h3>Prévision Météo - 14 jours :</h3>

    <div
      class="mt-2 mb-5 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="d-flex justify-content-center">
        <svg
          style="color: #0077bd"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="20"
          fill="currentColor"
          class="bi bi-geo-alt-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
          /></svg
        ><span id="city" class="ms-1">34172 Montpellier</span>
      </div>
    </div>

    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <WeatherTwoCardsView
            :dataWeather="dataWeather[0]"
          ></WeatherTwoCardsView>
        </div>

        <div v-for="data in dataWeather" :key="data" class="carousel-item">
          <WeatherTwoCardsView :dataWeather="data"></WeatherTwoCardsView>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</template>

<script>
import WeatherTwoCardsView from "./WeatherTwoCardsView.vue";

export default {
  components: { WeatherTwoCardsView },

  data() {
    return {
      dataWeather: [],
    };
  },

  mounted() {
    let insee = 34172;
    let tokenWeather =
      "70c597d8a16bc6aab17c03f58e1382c79d0cea5e47068e5dd0df37bb3d241b35";

    fetch(
      `https://api.meteo-concept.com/api/forecast/daily?token=${tokenWeather}&insee=${insee}`
    )
      .then((response) => response.json())
      .then((data) => {
        for (let i = 0; i < data.forecast.length; i = i + 2) {
          let table = [];
          table.push(data.forecast[i]);
          table.push(data.forecast[i + 1]);

          this.dataWeather.push(table);
        }
      });
  },
};
</script>

<style>
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23163254' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23163254' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
</style>
