<template>
  <div class="test">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8" @submit.prevent>
      <p>
        <br />
        <br />
        <label for="formTitle"> Titre </label>
        <input v-model="todo_titre" type="text" />
        <br />
        <label for="formContent"> Contenu </label>
        <input v-model="todo_contenu" type="text" />
        <br />
      </p>
      <v-date-picker v-model="date_debut">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="bg-white border px-2 py-1 rounded"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <v-date-picker v-model="date_fin">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="bg-white border px-2 py-1 rounded"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <br />
      <b-button variant="outline-dark" v-on:click="getTodo">confirm</b-button>
    </form>
  </div>
</template>

<script lang="ts">
import store from "@/store";

export default {
  data() {
    return {
      date_debut: new Date(),
      date_fin: new Date(),
    };
  },
  methods: {
    getTodo: function () {
      store.commit("titreTodo", this.todo_titre);
      store.commit("contenuTodo", this.todo_contenu);
      store.commit("debutDate", this.date_debut);
      store.commit("finDate", this.date_fin);
      let titreTodo = store.getters.titreTodoGetter;
      let contenuTodo = store.getters.contenuTodoGetter;
      let debutdate = store.getters.debutDateGetter;
      let findate = store.getters.finDateGetter;
      console.log(titreTodo);
      console.log(contenuTodo);
      console.log(debutdate);
      console.log(findate);
      return { debutdate, findate };
    },
  },
};
</script>

<style></style>
