<template>
  <div class="agenda">
    <div class="container mt-3">
      <CalendarVue />
      <FormVue />
    </div>
  </div>
</template>

<script lang="ts">
import CalendarVue from "@/components/agenda/CalendarTemp.vue";
import FormVue from "@/components/formTodo/FormTemp.vue";
export default {
  components: {
    CalendarVue,
    FormVue,
  },
};
</script>
