<template>
  <div class="dashboard">
    <b-navbar type="dark">
      <div class="d-flex justify-content-between align-items-center">
        <b-navbar-brand to="/">
          <img id="logo" src="../assets/logo_tempest_Final.png" alt="" />
        </b-navbar-brand>
        <b-navbar-brand to="/">
          <span>Tempest</span>
        </b-navbar-brand>
        <b-dropdown
          right
          size="lg"
          variant="light"
          toggle-class="text-decoration-none"
          no-caret
        >
          <template #button-content>
            <font-awesome-icon icon="fa-solid fa-bars" />
          </template>
          <b-dropdown-item class="text-white" to="/plant-form"
            >Ajouter une plante</b-dropdown-item
          >
          <b-dropdown-item class="text-white" to="/agenda"
            >Agenda</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </b-navbar>
  </div>
</template>

<script lang="ts">
export default {};
</script>

<style>
* {
  margin: auto;
}
nav {
  background-color: #163254 !important;
  border-radius: 0 0 27px 27px;
  width: 100vw;
}

#logo {
  width: 9vh;
  height: max-content;
}
</style>
