<template>
  <div class="form-plant">
    <div class="container">
      <form id="plant_form" method="post">
        <h1>Création d'une plante</h1>
        <div class="form-group">
          <label for="plantName" class="col-sm-2 col-form-label"
            >Nom de la plante
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              v-model="plant.name"
              class="form-control"
              id="plantName"
              placeholder="Nom de la plante"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="plantMinHeat" class="col-sm-2 col-form-label"
            >Température min.</label
          >
          <div class="col-sm-10">
            <input
              type="number"
              v-model="plant.minHeat"
              min="-30"
              max="100"
              pattern="[0-9]{2}"
              class="form-control"
              id="plantMinHeat"
              placeholder="Temp. min. C°"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="plantMaxHeat" class="col-sm-2 col-form-label"
            >Température max.</label
          >
          <div class="col-sm-10">
            <input
              type="number"
              v-model="plant.maxHeat"
              min="-30"
              max="100"
              pattern="[0-9]{2}"
              class="form-control"
              id="plantMaxHeat"
              placeholder="Temp. max. C°"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-form-label" for="waterFrequence">
            Fréquence d'arrosage
          </label>
          <input
            class="form-control col-sm-10"
            type="number"
            v-model="plant.waterFrequence"
            placeholder="Combien de fois par jour ?"
            min="0"
            id="waterFrequence"
            name="waterFrequence"
            required
          />
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-form-label" for="waterFrequence">
            Volume d'eau requis
          </label>
          <input
            class="form-control"
            type="number"
            v-model="waterVol"
            placeholder="en m³"
            id="waterVol"
            name="waterVol"
            required
          />
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-form-label" for="windRES">
            Résistance au max vent
          </label>
          <input
            class="form-control"
            type="number"
            min=""
            v-model="windRES"
            placeholder="en km/h"
            id="windRES"
            name="windRES"
          />
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-form-label" for="plantationDate">
            Date de la plantation
          </label>
          <b-form-datepicker
            id="plantationDate"
            v-model="plantationDate"
            placeholder="Veuillez indiquer une date"
            class="mb-2"
            required
          />
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-form-label" for="harvestDate">
            Date de la récolte
          </label>
          <b-form-datepicker
            id="harvestDate"
            v-model="harvestDate"
            placeholder="Indiquer une date"
            class="mb-2"
          />
        </div>
        <div class="form-group mt-3">
          <div class="col-sm-10">
            <button
              type="submit"
              class="btn btn-primary"
              @click.prevent="createPlant()"
            >
              Créer ma plante
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import store from "@/store";

export default {
  data() {
    return {
      plant: {
        name: "",
        minHeat: "",
        maxHeat: "",
        windRES: "",
        waterFrequence: "",
        waterVol: "",
        plantationDate: "",
        harvestDate: "",
      },
    };
  },
  methods: {
    createPlant() {
      let plantProps = this.plant;
      console.log("Submited", plantProps);

      store.commit("addPlant", plantProps);
    },
  },
};
</script>
